/* debug styles */

/* * {
  border: 1px solid red !important;
} */

/* debug styles */

body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  color: white;
  background-color: #505050;
  padding: 0.22rem;
  margin: 0.22rem;
  word-wrap: break-word;
}

.container {
  display: flex;
  height: 100vh;
  margin: 0.625rem;
}

.inputs-container {
  width: 30%;
  overflow: auto;
}

.table-container {
  width: 40%;
  overflow: auto;
}

.graph-container {
  width: 30%;
  overflow: auto;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .inputs-container {
    width: 100%;
    overflow: auto;
  }

  .table-container {
    width: 100%;
    overflow: auto;
  }

  .graph-container {
    width: 100%;
    overflow: auto;
  }

  #faq {
    display: none;
  }
}

.graph-title {
  text-align: center;
}

.floating-button {
  position: fixed;
  left: calc(70% - 25px);
  top: 7px;
  background-color: #f44336;
  color: #f8f8f0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  z-index: 9999;
}

#draggable-button {
  position: absolute;
  cursor: move;
  z-index: 9999;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9998;
}

.modal-content {
  background-color: #f8f8f0;
  padding: 1.3rem;
  border-radius: 0.3rem;
  width: 500px;
  max-width: 90%;
  text-align: center;
}

.close-button {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  font-size: 24px;
  cursor: pointer;
}

pre {
  white-space: pre-wrap;
}

.logo {
  width: 5vw; /* adjusts size based on viewport width */
  height: auto; /* maintains aspect ratio */
}

.cleanplay-font {
  font-family: "Orbitron", sans-serif;
}

.console-font {
  font-family: "Sarpanch", sans-serif;
}

.brand {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0.3rem;
}

.brand h1,
.brand img {
  display: inline;
  margin: 0;
  padding: 0;
}

.jumbotron h1 {
  font-size: calc(1rem + 1vw); /* adjusts size based on viewport width */
  padding: 0.13rem 0;
  margin: 0.13rem 0;
}

.jumbotron p {
  font-size: 1rem;
  padding: 0.33rem 0;
  margin: 0.33rem 0;
}

.break-word {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

a {
  color: #20b2aa;
  text-decoration: none;
  padding: 0.13rem;
}

a:hover {
  text-decoration: underline;
}

#input-players {
  border-radius: 0.3rem;
  border: none;
  resize: none;
}

btn-bubble {
  color: white;
  background-color: #77b11c;
  background-repeat: no-repeat;
}
.btn-bubble:hover,
.btn-bubble:focus {
  -webkit-animation: bubbles 1s forwards ease-out;
  animation: bubbles 1s forwards ease-out;
  background: radial-gradient(
        circle at center,
        rgba(0, 0, 0, 0) 30%,
        #eeeeff 60%,
        #eeeeff 65%,
        rgba(0, 0, 0, 0) 70%
      )
      104% 110% / 1.04em 1.04em,
    radial-gradient(
        circle at center,
        rgba(0, 0, 0, 0) 30%,
        #eeeeff 60%,
        #eeeeff 65%,
        rgba(0, 0, 0, 0) 70%
      )
      19% 119% / 0.67em 0.67em,
    radial-gradient(
        circle at center,
        rgba(0, 0, 0, 0) 30%,
        #eeeeff 60%,
        #eeeeff 65%,
        rgba(0, 0, 0, 0) 70%
      )
      71% 130% / 1.12em 1.12em,
    radial-gradient(
        circle at center,
        rgba(0, 0, 0, 0) 30%,
        #eeeeff 60%,
        #eeeeff 65%,
        rgba(0, 0, 0, 0) 70%
      )
      101% 142% / 0.5em 0.5em,
    radial-gradient(
        circle at center,
        rgba(0, 0, 0, 0) 30%,
        #eeeeff 60%,
        #eeeeff 65%,
        rgba(0, 0, 0, 0) 70%
      )
      11% 125% / 1.03em 1.03em,
    radial-gradient(
        circle at center,
        rgba(0, 0, 0, 0) 30%,
        #eeeeff 60%,
        #eeeeff 65%,
        rgba(0, 0, 0, 0) 70%
      )
      52% 110% / 0.81em 0.81em,
    radial-gradient(
        circle at center,
        rgba(0, 0, 0, 0) 30%,
        #eeeeff 60%,
        #eeeeff 65%,
        rgba(0, 0, 0, 0) 70%
      )
      69% 149% / 1.18em 1.18em,
    radial-gradient(
        circle at center,
        rgba(0, 0, 0, 0) 30%,
        #eeeeff 60%,
        #eeeeff 65%,
        rgba(0, 0, 0, 0) 70%
      ) -1% 82% / 1.03em 1.03em,
    radial-gradient(
        circle at center,
        rgba(0, 0, 0, 0) 30%,
        #eeeeff 60%,
        #eeeeff 65%,
        rgba(0, 0, 0, 0) 70%
      )
      37% 103% / 0.55em 0.55em,
    radial-gradient(
        circle at center,
        rgba(0, 0, 0, 0) 30%,
        #eeeeff 60%,
        #eeeeff 65%,
        rgba(0, 0, 0, 0) 70%
      )
      108% 127% / 0.92em 0.92em,
    radial-gradient(
        circle at center,
        rgba(0, 0, 0, 0) 30%,
        #eeeeff 60%,
        #eeeeff 65%,
        rgba(0, 0, 0, 0) 70%
      )
      19% 142% / 0.62em 0.62em;
  background-color: #77b11c;
  background-repeat: no-repeat;
}

@-webkit-keyframes bubbles {
  100% {
    background-position: 98% 11%, 11% -177%, 76% -382%, 102% 10%, 5% -101%,
      55% -135%, 74% -301%, 9% 34%, 43% -101%, 107% -249%, 22% -387%;
    box-shadow: inset 0 -6.5em 0 #0072c4;
  }
}

@keyframes bubbles {
  100% {
    background-position: 98% 11%, 11% -177%, 76% -382%, 102% 10%, 5% -101%,
      55% -135%, 74% -301%, 9% 34%, 43% -101%, 107% -249%, 22% -387%;
    box-shadow: inset 0 -6.5em 0 #0072c4;
  }
}

#button {
  padding: 0.625rem;
  margin: 0.625rem;
  border-radius: 0.3rem;
  border: none;
  font-weight: bolder;
  cursor: pointer;
  background-color: #00bfff;
  color: white;
  text-shadow: #222222 1px 1px 1px;
}

.button-container {
  display: flex;
  align-items: center;
}

.textarea-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 65%;
}

textarea {
  width: 100%;
  height: 100%;
  min-height: 10rem;
  border-radius: 0.3rem;
  font-family: "Sarpanch", sans-serif;
  font-size: 16px;
  color: #333333;
}

.inputs {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.modal-content * {
  color: black;
}

table {
  width: 100%;
  background-color: white;
  color: #222222;
}

.center {
  margin: auto;
}

/* bad actors */

#bad-actors-graph #cy {
  width: 100%;
  height: 60rem;
  display: flex;
  z-index: 1;
}

#bad-actors-graph .other {
  z-index: 999 important!;
}

.node-tooltip {
  background-color: #333;
  color: #fff;
  padding: 0.13rem;
  border-radius: 0.3rem;
  z-index: 1000;
}

.tooltip {
  background-color: #333;
  color: #fff;
  padding: 0.625rem;
  border-radius: 0.3rem;
  font-size: 12px;
  z-index: 1000;
  display: none;
}

/* TODO: debug why table overflows withouth this */
#dataTable {
  width: 100% !important;
}

.dataTables_filter {
  float: left !important;
}

#dataTable_filter label {
  margin: 0.3125rem;
  padding: 0.3125rem;
}

input[type="search"] {
  color: black;
  background-color: #f3f3f3 !important;
}

.display-column {
  display: flex;
  flex-direction: column;
}
